nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    margin-top: 7px;
    margin-left: 150vh;
}
nav ul li a{
    text-decoration: none;
    color: grey;
}
a:hover{
    color: blue;
}
img{
    width: 250px;
    height: 250px;
}
.div{
    margin-left: 5%;
}